.sidebar{
    background-image: linear-gradient(40deg, #19d3ae,#0fcfec);
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    
    transform: translate(5px);
    display: inline-block;
}
.sidebar svg{
    margin-right: 5px;
}