.contact{    
    background-image: url(../../../images/appointmentBg.png);
    background-size: 100% ;
    position: relative;
    height: 520px ;
    background-position:center;
    z-index: 1;
}

.contact::before{
    content: '' ;
    width:100% ;
    height: 100% ;    
    position: absolute;
    background: #3A4256 ;
    opacity: 0.8 ;
    z-index: -1;
}
